@using System.Data;
@using MedicoPlus.Models;
@model AppUserModel
@{
    Layout =" ~/Views/Shared/_AppUserLayout.cshtml";
    CityModel city = (CityModel)ViewBag.City;
    DataTable dt = ViewBag.Appointment;
}

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-picture text-center">
                <div class="bg-picture-overlay"></div>
                <div class="profile-info-name">
                    <img src=@Model.Photo class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                    <h4 class="m-b-5"><b>@Model.AUName</b></h4>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> @city.CityName</p>
                </div>
            </div>
            <!--/ meta -->
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">

            <div class="card-box m-t-20">
                <h4 class="m-t-0 header-title"><b>Personal Information</b></h4>
                <div class="p-20">
                    <div class="about-info-p">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">@Model.AUName</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">@Model.Mobile</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">@Model.Email</p>
                    </div>
                    <div class="about-info-p m-b-0">
                        <strong>Location</strong>
                        <br>
                        <p class="text-muted">@Model.Address</p>
                    </div>
                </div>
            </div>

            



        </div>


        <div class="col-md-8">

            <div class="card-box m-t-20">
                <h4 class="m-t-0 header-title"><b>Recent Appointments</b></h4>
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Patient name</th>
                            <th>Appointment date</th>
                            <th>Doctor name</th>
                            <th>Clinic name</th>
                            <th>Status</th>
                            <th>Cancel</th>

                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i <dt.Rows.Count; i++)
                        {
                            int j = i + 1;

                            string AppDate = Convert.ToString(dt.Rows[i]["AppDate"]);
                            string[] App_date = AppDate.Split(' ');

                            <tr>
                                <th scope="row">@j</th>
                                <td>@dt.Rows[i]["patientName"]</td>
                                <td>@App_date[0] @dt.Rows[i]["AppTime"]:00</td>
                                <td>@dt.Rows[i]["DocName"]</td>
                                <td>@dt.Rows[i]["ClinicName"]</td>
                                <td>PENDING</td>
                                <td>
                                    <form method="post" action="CancelAppointment">
                                        <input type="hidden" name="AppointmentId" value=@dt.Rows[i]["AppointmentId"]>
                                        <button type="submit" class="btn btn-default waves-effect waves-light" name="Cancel">Cancel</button>
                                    </form>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>


            </div>

            
        </div>


    </div>

    <div class="row">

    </div>
</div>


