@using System.Data
@model DataTable
@{
    ViewBag.Title = "UpcomingAppointments";
    Layout = "~/Views/Shared/_medicoDoctor.cshtml";
}



<body class="smallscreen fixed-left-void">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-title">Prescriptions</h4>
                <ol></ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="card-box">
                    <div class="row">

                        <div class="p-20">
                            <table class="table table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Patient name</th>
                                        <th>Appointment date</th>
                                        <th>Clinic Name</th>

                                        <th>Status</th>
                                        <th>View</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.Rows.Count; i++)
                                    {
                                        int j = i + 1;

                                        string AppDate = Convert.ToString(Model.Rows[i]["AppDate"]);
                                        string[] App_date = AppDate.Split(' ');

                                        <tr>
                                            <th scope="row">@j</th>
                                            <td><a href="/Doctor/AddPrescription/@Model.Rows[i]["AppointmentId"]">@Model.Rows[i]["patientName"]</a></td>
                                            <td>@App_date[0] @Model.Rows[i]["AppTime"]:00</td>

                                            <td>@Model.Rows[i]["ClinicName"]</td>
                                            <td>@Model.Rows[i]["Status"]</td>
                                            <td>
                                                <form method="post" action="CancelAppointment">
                                                    <input type="hidden" name="AppointmentId" value=@Model.Rows[i]["AppointmentId"]>
                                                    <button type="submit" class="btn btn-default waves-effect waves-light" name="View">Cancel</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>


</body>